<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to 'スタッフページ', staffs_account_path, class: "link-gray" %>
  ＞ スタッフ一覧
</p>
<div class="container">
<h1 class="center">スタッフ一覧</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>氏名</th>
          <th>メール</th>
          <th></th>
        </tr>
      <% @staffs.each do |staff| %>
      <tbody>
        <tr>
        <td><%= staff.name %></td>
          <td><%= staff.email %></td>
          <td>
            <%= link_to '編集', edit_staff_registration_path, class: "btn btn-sm btn-outline-dark" %>
            <%= link_to '削除', staff_registration_path, method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-sm btn-outline-danger" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
</div>
