<div class="slider-wrap">
  <div class="slider-main">
    <div><%= link_to image_tag("/slide_01pc.jpeg"), reservations_path, 'data-turbolinks': false %></div>
    <div><%= link_to image_tag("/slide_02pc.jpeg"), reservations_path, 'data-turbolinks': false %></div>
    <div><%= link_to image_tag("/slide_03pc.jpeg"), reservations_path, 'data-turbolinks': false %></div>
  </div>
</div>

<div class="top-notification">
  <h1><span class="badge badge-pill badge-danger">New</span> ゲンキノモト。からのお知らせ</h1>
  <div class="top-notification-body">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-12">
        <% @notifications.first(3).each do |n| %>
          <ul>
            <li><%= n.created_at.strftime("%Y.%m.%d") %><span><%= link_to truncate(n.title, length: 30), notification_path(n), class: "Editlink" %></span></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-right">
    <%= link_to ">> and more...", static_pages_notification_path, class: "Editlink" %>
  </div>
</div>


<div class="top-salon-introduction">
  <h1>サロン紹介</h1>
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="row mb-5">
        <div class="col-12 col-sm-8 col-md-12">
          <div><%= link_to image_tag("/salon.jpg", width: '100%'), reservations_path, 'data-turbolinks': false %></div>
        </div>
        <div class="col-12 mt-4">
          <p>
            巻き爪、タコ、ウオノメのケアを中心としたボディケアサロンです。<br>
              巻き爪ケアは痛みが少なく短い爪でも補正ができ、ご好評をいただいています！<br>
              皆様のご来店をお待ちしています。
          </p>
          <div>
            <dl>
              <div>
                <dt>住所</dt>
                <dd>
                  〒254-0034 神奈川県平塚市宝町9-14 平塚スポーツケアセンター2階
                </dd>
              </div>
              <div>
                <dt>営業時間</dt>
                <dd>
                  11:00〜20:00(18:00最終受付)
                </dd>
              </div>
              <div>
                <dt>定休日</dt>
                <dd>
                  日曜日
                </dd>
              </div>
              <div>
                <dt>TEL</dt>
                <dd>
                  0463-27-2008
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div><%= link_to image_tag("/map-sample.png", width: '100%'), reservations_path, 'data-turbolinks': false %></div>
      仮で画像を差し込んでいます<br>
      本番ではここにGoogleMapを埋め込んでください。
    </div>
  </div>
</div>

<%= link_to "ご予約はこちら", reservations_path, 'data-turbolinks': false, class: "reserve-btn" %>
<%= link_to "ご予約はこちら", reservations_path, 'data-turbolinks': false, class: "phone-reserve-btn", id: "phone-reservation-btn" %>