<div class="container">
  <div class="top-main-image">
    <%= image_tag("/body_care1.jpg", width: '100%') %>
  </div>
  <div class="right top-staff-button">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if staff_signed_in? %>
          ● <%= current_staff.name %> さん
        <% else %>
          ○ スタッフ専用
        <% end %>
      </button>
      <div class="dropdown-menu">
        <% if staff_signed_in? %>
          <%= link_to 'スタッフ専用ページ', staffs_account_path, class: 'dropdown-item link-black' %>
          <%= link_to 'ご予約内容確認', confirm_reservation_reservations_path, 'data-turbolinks': false, class: 'dropdown-item link-black' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'ログアウト', destroy_staff_session_path, method: :delete, class: 'dropdown-item link-black' %>
        <% else %>
          <%= link_to 'ログイン', new_staff_session_path, class: 'dropdown-item link-black' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="top-content1">
    <h1>[NEW] ゲンキノモト。からのお知らせ</h1>
    <p>仮で作成しています。適宜変更をお願いします。</p>
  </div>

  <div class="top-split-content1">
    <div class="top-split-content1-left">
      <h1>ご予約 <%= link_to "ご予約はこちらから", reservations_path, 'data-turbolinks': false, class: "btn btn-sm btn-outline-dark" %></h1>
      <p>仮で作成しています。適宜変更をお願いします。</p>
    </div>
    <div class="top-split-content1-right">
      <h1>[NEW] 商品ピックアップ情報</h1>
      <p>仮で作成しています。適宜変更をお願いします。</p>
    </div>
  </div>

  <div class="top-content2">
    <h1>[NEW] イベント情報</h1>
    <p>仮で作成しています。適宜変更をお願いします。</p>
  </div>

</div>
