<div class="page-info">
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to 'スタッフページ', staffs_account_path, class: "link-gray" %> ＞
  施術メニュー管理画面
</div>

<div class="container">
  <h1 class="center">
    施術メニュー管理画面
  </h1>
  <div class="right menu-new-page-btn">
    <%= link_to "施術メニュー新規登録", new_menu_path, class: "btn btn-md btn-info"%>
  </div>
  <table class="table">
    <thead>
      <tr class="center">
        <th>コース番号</th>
        <th>施術メニュー</th>
        <th>料金</th>
        <th>施術時間</th>
        <th>編集／削除</th>
      </tr>
    </thead>
    <% @menus.order(course_number: :asc).each do |menu| %>
    <tbody>
      <tr class="center">
        <td><%= menu.course_number %></td>
        <td><%= link_to menu.title, menu_path(menu) %></td>
        <td><%= menu.charge.to_s(:delimited) %>円</td>
        <td><%= menu.treatment_time %>分</td>
        <td>
          <%= link_to '編集', edit_menu_path(menu), class: 'btn btn-sm btn-primary' %>
          <%= link_to '削除', menu_path(menu), method: :delete, data: { confirm: "#{menu.title}を削除してもよろしいでしょうか?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
