<%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
<%= link_to '施術メニュー一覧', menus_path, class: "link-gray" %> ＞ 
<%= link_to '戻る', :back, class: "link-gray" %>

<div class="container">
  <h1 class="center">
    施術メニュー詳細
  </h1>
  <table class="table">
    <thead>
      <tr class="center">
        <th>施術メニュー</th>
        <th>料金</th>
        <th>施術時間</th>
        <th>施術内容</th>
        <% if staff_signed_in? %>
          <th>コース番号</th>
          <th>編集／削除</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr class="center">
        <td><%= @menu.title %></td>
        <td><%= @menu.charge %>円</td>
        <td><%= @menu.treatment_time %>分</td>
        <td><%= @menu.description %></td>
        <% if staff_signed_in? %>
          <td><%= @menu.course_number %></td>
          <td>
            <%= link_to '編集', edit_menu_path(@menu), class: 'btn btn-sm btn-primary' %>
            <%= link_to '削除', menu_path(@menu), method: :delete, data: { confirm: "#{@menu.title}を削除してもよろしいでしょうか?" }, class: "btn btn-sm btn-danger" %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
