<div class="page-info">
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to '施術メニュー管理画面', menus_path, class: "link-gray" %> ＞ 施術メニュー詳細
</div>
<table class="table table-striped">
  <tbody>
    <tr class="center">
      <th>カテゴリー</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category %></td>
    </tr>
    <tr class="center">
      <th>カテゴリー順番</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category_order %></td>
    </tr>
    <tr class="center">
      <th>カテゴリータイトル</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category_title %></td>
    </tr>
    <tr class="center">
      <th>カテゴリータイトル順番</th>
    </tr>
    <tr class="center">
      <td><%= @menu.title_order %></td>
    </tr>
    <tr class="center">
      <th>施術メニュー</th>
    </tr>
    <tr class="center">
      <td><%= @menu.title %></td>
    </tr>
    <tr class="center">
      <th>料金</th>
    </tr>
    <tr class="center">
      <td><%= @menu.charge.to_s(:delimited) %>円</td>
    </tr>
    <tr class="center">
      <th>施術時間</th>
    </tr>
    <tr class="center">
      <td><%= @menu.treatment_time %>分</td>
    </tr>
    <tr class="center">
      <th>施術内容</th>
    </tr>
    <tr class="center">
      <td><%= @menu.description %></td>
    </tr>
    <tr class="center">
      <th>コース番号</th>
    </tr>
    <tr class="center">
      <td><%= @menu.course_number %></td>
    </tr>
    <tr class="center">
      <th>編集／削除</th>
    </tr>
    <tr class="center">
      <td>
        <%= link_to '編集', edit_menu_path(@menu), class: 'btn btn-sm btn-primary' %>
        <%= link_to '削除', menu_path(@menu), method: :delete, data: { confirm: "#{@menu.title}を削除してもよろしいでしょうか?" }, class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
    </tr>
  </tbody>
</table>
