<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to '店舗のご案内', stores_path, class: "link-gray" %> ＞
  <%= @store.name %>
</p>
<p></p>

<div class="container">
  <div class="container-wrapper">
    <div class="split-content-left">
      <table class="table">
      
        <tr>
          <td>店舗名</td>
          <td colspan="2"><%= @store.name %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td colspan="2"><%= @store.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @store.phone %></td>
        </tr>
        <tr>
          <td>メール</td>
          <td><%= @store.email %></td>
        </tr>
        <tr>
          <td>営業時間</td>
          <td>
          <% if @store.opening_time.present? && @store.closing_time.present? %>
            <%= @store.opening_time.strftime("%H:%M") %> から <%= @store.closing_time.strftime("%H:%M") %> まで
          <% end %>
          </td>
        </tr>
        <tr>
          <td>ラストオーダー</td>
          <td>
            <% if @store.last_order_time.present? %>
              <%= @store.last_order_time.strftime("%H:%M") %> まで受付
            <% end %>
          </td>
        </tr>
        <tr>
          <td>定休日</td>
          <td><%= @store.non_business_day %></td>
        </tr>
        <tr>
          <td>店舗詳細</td>
          <td><%= @store.description %></td>
        </tr>
      
      </table>
    </div>

    <div class="split-content-right">
      <% if @store.image? %>
        <%= image_tag(@store.image.url, width: "100%", class: "image-border") %>
      <% else %>
        <%= image_tag("/no_image2.png", width: "100%", class: "image-border") %>
      <% end %>
    </div>
  </div>
</div>
