<div class="container">
  <div>
    <h1>お知らせ一覧</h1>
  </div>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th class="col-sm-1">記事No.</th>
        <th class="col-sm-5">記事タイトル</th>
        <th class="col-sm-2">投稿者</th>
        <th class="col-md-1">表示状態</th>
        <th class="col-sm-2">投稿日</th>
      </tr>
    </thead>
    <% @notifications.each do |content| %>
    <tbody>
      <tr>
        <td>
          <%= content.id %>
        </td>
        <td>
          <%= link_to truncate(content.title, length: 25), notification_path(content.id) %>
        </td>
        <td>
          <%= content.staff.name %>
        </td>
        <td>
          <% if content.display_flag.trust %>
            <p class="btn btn-success">表示中</p>
          <% else %>
            <p class="btn btn-secondary">非表示</p>
          <% end %>
        </td>
        <td>
          <%= content.created_at.strftime("%Y年%m月%d日") %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate(@notifications) %>
  <div class="text-center">
    <%= link_to "新規作成", new_notification_path, class: "btn btn-primary" %>&nbsp;
    <%= link_to "戻る", staffs_account_path, class: "btn btn-secondary" %>
  </div>

</div>
