<div class="container">
  <div class="text-center">
    <h1>お知らせ</h1>
  </div>

  <div class="notification-wrraper">  
    <div>
      <h2><%= @notification.title %></h2><hr id="design-hr">
    </div><br />
    <div>
      <p><%== @notification.body %></p>
    </div>
  </div>

  <div>
    <%= link_to "編集", edit_notification_path(@notification), class: "btn btn-success" %>&nbsp;
    <%= link_to "削除", notification_path(@notification), method: :delete, data:{ confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>&nbsp;
  </div>
  <div class="text-center">
    <%= link_to "戻る", staffs_path %>
  </div>
</div>
