<div class="container">
  <h1>お知らせ詳細</h1><hr>

  <div>  
    <table class="table table-bordered">
      <thead class="thead-light">
        <h2>記事タイトル</h2>
        <div>
          <%= @notification.title %>
        </div>
      </thead>
      <tbody>
        <h2>記事内容</h2>
        <div>
          <%= @notification.body %>
        </div>
      </tbody>
    </table>
  </div>

  <div>
    <%= link_to "編集", edit_notification_path(@notification), class: "btn btn-success" %>&nbsp;
    <%= link_to "削除", notification_path(@notification), method: :delete, data:{ confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>&nbsp;
  </div>
  <div class="text-center">
    <%= link_to "戻る", staffs_path %>
  </div>
</div>
