<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  マイページ
</p>
<div class="user-account-wrapper">
  <ul class="tab">
    <li><a href="#account-riserve">予約状況</a></li>
    <li><a href="#account-profile">お客様情報</a></li>
    <li><a href="#account-payment">購入履歴</a></li>
  </ul>
  <div id="account-riserve" class="area">
      <h2>-- 現在の予約状況 --</h2>
      <p><%= current_user.name %>様のご予約は <font color="red"><%= @reservations.count %></font> 件ございます。</p>
      <table class="table table-bordered table-condesend">
        <thead class="table-success">
          <tr>
            <th>施術日</th>
            <th>施術内容</th>
            <th>施術時間</th>
            <th>料金</th>
            <th>予約状況</th>
          </tr>
        </thead>
        <% @reservations.order(status: :desc).each do |reserve| %>
          <tbody>
            <tr>
              <td><%= l reserve.start_time, format: :day %></td>
              <td><%= reserve.treatment_menu %></td>
              <!-- ログインしたユーザーが自分の予約を確認する時はインターバルを抜いた時間で終了時間を表示。 -->
              <td><%= l reserve.start_time, format: :timeonly %> - <%= l (reserve.start_time + (reserve.treatment_time_menu * 60)), format: :timeonly %></td>
              <td><%= reserve.charge_menu %>円</td>
              <td><%= reserve.status_i18n %></td>
            </tr>
          </tbody>
        <% end %>
      </table>

      <h2>-- ご利用履歴 --</h2>
      <table class="table table-bordered table-condesend">
        <thead class="table-success">
          <tr>
            <th>施術日</th>
            <th>施術内容</th>
            <th>施術時間</th>
            <th>料金</th>
          </tr>
        </thead>
        <% @completed_reservations.order(status: :desc).each do |reserve| %>
          <tbody>
            <tr>
              <td><%= l reserve.start_time, format: :day %></td>
              <td><%= reserve.treatment_menu %></td>
              <!-- ログインしたユーザーが自分の予約を確認する時はインターバルを抜いた時間で終了時間を表示。 -->
              <td><%= l reserve.start_time, format: :timeonly %> - <%= l (reserve.start_time + (reserve.treatment_time_menu * 60)), format: :timeonly %></td>
              <td><%= reserve.charge_menu %>円</td>
            </tr>
          </tbody>
        <% end %>
      </table>
  </div>

  <div id="account-profile" class="area">
    <table class="table">
      <thead class="table table-secondary center">
        <tr><th colspan="2" class="table-success">お客様情報</th></tr>
      </thead>
      <tbody class="table table-striped">
        <tr><td>お名前</td><td><%= current_user.name %></td></tr>
        <tr><td>ふりがな</td><td><%= current_user.kana %></td></tr>
        <tr><td>メール</td><td><%= current_user.email %></td></tr>
        <tr><td>電話番号</td><td><%= current_user.phone %></td></tr>
        <tr><td>郵便番号</td><td><%= current_user.postal_code %></td></tr>
        <tr><td>都道府県</td><td><%= current_user.prefecture_code %></td></tr>
        <tr><td>市区町村</td><td><%= current_user.city %></td></tr>
        <tr><td>丁目/番地</td><td><%= current_user.street %></td></tr>
        <tr><td>建物名</td><td><%= current_user.other_address %></td></tr>
      </tbody>
    </table>
    <%= link_to "編集はこちら",edit_user_registration_path, class: "btn btn-sm btn-outline-dark" %>
  </div>

  <div id="account-payment" class="area">
<%
=begin
%>
    <% if current_user.cart.payments.present? %>
      <%= paginate @payments %>
      <h2>>購入履歴 【 <%= current_user.name %> 様 】</h2>
      <table class="table">
        <% @payments.each do |payment| %>
        <thead>
          <tr>
            <th style="width: 20%">注文日時:<br><%= l payment.created_at, format: :custom1 %></th>
            <th style="width: 40%">合計:<br><%= payment.total %> 円(税込)</th>
            <th style="width: 15%">注文番号: <%= payment.id %></th>
            <th colspan="2"  class="center"  style="width: 25%"><%= link_to "注文内容", payment_path(payment), class: "btn btn-sm btn-outline-dark" %></th>
          </tr>
        </thead>

          <% orders = Order.where(payment_id: payment.id) %>
          <% orders.each do |order| %>
          <tr>
            <td class="center">
              <% item = Item.find(order.item_id) %>
              <% if item.image? %>
                <%= link_to image_tag(item.image.url, width: 70, class: "image-border"), item_path(item) %>
              <% else %>
                <%= link_to image_tag("/no_image2.png", width: 70, class: "image-border"), item_path(item) %>
              <% end %>
            </td>
            <td><%= link_to item.name, item_path(item), class: "link-black" %></td>
            <td><%= item.price %> 円(税抜)</td>
            <td>数量: <%= order.quantity %></td>
            <td><%= item.price*order.quantity %> 円(税抜)</td>
          </tr>
          <% end %>
          <tr>
            <td colspan="5"></td>
          </tr>
        
          <% event_orders = EventOrder.where(payment_id: payment.id) %>
          <% event_orders.each do |event_order| %>
          <tr>
            <td class="center">
              <% event = Event.find(event_order.event_id) %>
              <% if event.image? %>
                <%= link_to image_tag(event.image.url, width: 70, class: "image-border"), event_path(event) %>
              <% else %>
                <%= link_to image_tag("/no_image2.png", width: 70, class: "image-border"), event_path(event) %>
              <% end %>
            </td>
            <td><%= link_to event.title, event_path(event), class: "link-black" %></td>
            <td><%= event.price %> 円(税抜)</td>
            <td>数量: <%= event_order.quantity %></td>
            <td><%= event.price*event_order.quantity %> 円(税抜)</td>
          </tr>
          <% end %>
          <tr>
            <td colspan="5"></td>
          </tr>
        <% end %>
      </table>
      <%= paginate @payments %>
    <% else %>
      <h2>購入履歴 【 <%= current_user.name %> 様 】</h2>
      <p>お客様の注文履歴はありません。</p>
    <% end %>
<%
=end
%>
  </div>
</div>
