<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  マイページ
</p>

<div class="container">
<div class="right">
    
</div>
<p></p>

<div class="user-account-wrapper">

  <div class="user-account-wrapper-left">
    <div class="row">
      <h1 class="text-center">現在の予約状況</h1>
      <table class="table table-bordered table-condesend">
        <thead class="table-success">
          <tr>
            <th>予約番号</th>
            <th>施術内容</th>
            <th>施術金額</th>
            <th>担当者</th>
            <th>予約日</th>
            <th>変更・取消</th>
          </tr>
        </thead>
        <% @reservations.each do |reserve| %>
          <tbody>
            <tr>
              <td><%= reserve.id %></td>
              <td><%= reserve.course %></td>
              <td>4,900円</td>
              <td><%= @staffs.name %></td>
              <td><%= reserve.reservation_time.strftime('%Y年%m月%d日 - %H時%M分') %></td>
              <td>
                <%= link_to "変更", "#", class: "btn btn-success" %>
                <%= link_to "取消", "#", class: "btn btn-secondary" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>

      
      <div class="text-right">
        <%= link_to "新規予約", reservations_path, class: "btn btn-primary btn-lg", 'data-turbolinks': false %>
      </div><hr>

      <h1 class="text-center">-- ご利用履歴 --(作成中)</h1>
        <table class="table table-bordered table-condesend">
          <thead class="table-success">
            <tr>
              <th>予約番号</th>
              <th>施術内容</th>
              <th>施術金額</th>
              <th>担当者</th>
              <th>予約日</th>
            </tr>
          </thead>
          <tbody> 
            <tr>
              <td>1</td>
              <td>足ツボコース40分</td>
              <td>4,900円</td>
              <td>ケア　匠</td>
              <td>2021年10月3日</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row">
      <% if user_signed_in? %>
        <div class="mt-4">
          <%= link_to "予約申込", new_reservation_path, remote: true, class: "btn btn-primary" %>
        </div>
      <% end %>
      <div id="calendar"></div>
      <div id="new_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <%= javascript_pack_tag 'calendar/reservation' %>
    </div>
  </div>

  <div class="user-account-wrapper-right">
    <table class="table">
      <thead class="table table-secondary center">
        <tr><th colspan="2">お客様情報 <%= link_to "編集はこちら",edit_user_registration_path, class: "btn btn-sm btn-outline-dark"  %></th></tr>
      </thead>
      <tbody class="table table-striped">
        <tr><td>お名前</td><td><%= current_user.name %></td></tr>
        <tr><td>ふりがな</td><td><%= current_user.kana %></td></tr>
        <tr><td>メール</td><td><%= current_user.email %></td></tr>
        <tr><td>電話番号</td><td><%= current_user.phone %></td></tr>
        <tr><td>郵便番号</td><td><%= current_user.postal_code %></td></tr>
        <tr><td>都道府県</td><td><%= current_user.prefecture_code %></td></tr>
        <tr><td>市区町村</td><td><%= current_user.city %></td></tr>
        <tr><td>丁目/番地</td><td><%= current_user.street %></td></tr>
        <tr><td>建物名</td><td><%= current_user.other_address %></td></tr>
      </tbody>
    </table>
  </div>
</div>

</div>
