<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %>
  ＞ お客様ページ
</p>

<div class="container">
  <% current_reservations = @reservations.where(cancel_flag: false).where.not(status: 3) %>
  <h2><%= current_user.name %>様のご予約は<%= current_reservations.count %>件ございます。</h2><br>

  <h3 class="text-center">-- 現在の予約状況 --</h3>
  <table class="table table-bordered table-condesend">
    <thead class="table-success">
      <tr>
        <th>予約番号</th>
        <th>施術内容</th>
        <th>施術日</th>
        <th>施術時間</th>
        <th>施術金額</th>
        <th>担当者</th>
        <th>予約状況</th>
      </tr>
    </thead>
    <% current_reservations.order(status: :desc).each do |reserve| %>
      <tbody>
        <tr>
          <td><%= reserve.id %></td>
          <td><%= reserve.treatment_menu %></td>
          <td><%= l reserve.start_time, format: :dayonly %></td>
          <td><%= l reserve.start_time, format: :timeonly %> - <%= l reserve.end_time, format: :timeonly %></td>
          <td><%= reserve.charge_menu %>円</td>
          <td><%= @staffs.name %></td>
          <td><%= reserve.status_i18n %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <div class="text-right">
    <%= link_to "新規予約", reservations_path, 'data-turbolinks': false, class: "btn btn-primary btn-lg" %>
  </div><hr>

  <h3 class="text-center">-- ご利用履歴 --</h3>
  <table class="table table-bordered table-condesend">
    <thead class="table-success">
      <tr>
        <th>予約番号</th>
        <th>施術内容</th>
        <th>施術日</th>
        <th>施術時間</th>
        <th>施術金額</th>
        <th>担当者</th>
      </tr>
    </thead>
    <% completed_reservations = @reservations.where(cancel_flag: false).where(status: 3) %>
    <% completed_reservations.order(status: :desc).each do |reserve| %>
      <tbody> 
        <tr>
          <td><%= reserve.id %></td>
          <td><%= reserve.treatment_menu %></td>
          <td><%= l reserve.start_time, format: :dayonly %></td>
          <td><%= l reserve.start_time, format: :timeonly %> - <%= l reserve.end_time, format: :timeonly %></td>
          <td><%= reserve.charge_menu %>円</td>
          <td><%= @staffs.name %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <div class="round-square-top">
      <%= link_to "ユーザー情報編集",edit_user_registration_path, class: "btn btn-primary"  %>
  </div>
</div>
