<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  マイページ
</p>

<div class="container">
  <div class="user-account-wrapper">
  
    <div class="user-account-wrapper-left">
      <div class="row">
        <% current_reservations = @reservations.where(cancel_flag: false).where.not(status: 3) %>
        <h2><%= current_user.name %>様のご予約は<%= current_reservations.count %>件ございます。</h2><br>
        <h3 class="text-center">-- 現在の予約状況 --</h3>
        <table class="table table-bordered table-condesend">
          <thead class="table-success">
            <tr>
              <th>予約番号</th>
              <th>施術内容</th>
              <th>施術日</th>
              <th>施術時間</th>
              <th>施術金額</th>
              <th>担当者</th>
              <th>予約状況</th>
            </tr>
          </thead>
          <% current_reservations.order(status: :desc).each do |reserve| %>
            <tbody>
              <tr>
                <td><%= reserve.id %></td>
                <td><%= reserve.treatment_menu %></td>
                <td><%= l reserve.start_time, format: :dayonly %></td>
                <td><%= l reserve.start_time, format: :timeonly %> - <%= l reserve.end_time, format: :timeonly %></td>
                <td><%= reserve.charge_menu %>円</td>
                <td><%= @staffs.name %></td>
                <td><%= reserve.status_i18n %></td>
              </tr>
            </tbody>
          <% end %>
        </table>

        <div class="text-right">
          <%= link_to "新規予約", reservations_path, 'data-turbolinks': false, class: "btn btn-primary btn-lg" %>
        </div><hr>

        <h3 class="text-center">-- ご利用履歴 --</h3>
        <table class="table table-bordered table-condesend">
          <thead class="table-success">
            <tr>
              <th>予約番号</th>
              <th>施術内容</th>
              <th>施術日</th>
              <th>施術時間</th>
              <th>施術金額</th>
              <th>担当者</th>
            </tr>
          </thead>
          <% completed_reservations = @reservations.where(cancel_flag: false).where(status: 3) %>
          <% completed_reservations.order(status: :desc).each do |reserve| %>
            <tbody> 
              <tr>
                <td><%= reserve.id %></td>
                <td><%= reserve.treatment_menu %></td>
                <td><%= l reserve.start_time, format: :dayonly %></td>
                <td><%= l reserve.start_time, format: :timeonly %> - <%= l reserve.end_time, format: :timeonly %></td>
                <td><%= reserve.charge_menu %>円</td>
                <td><%= @staffs.name %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>

    <div class="user-account-wrapper-right">
      <table class="table">
        <thead class="table table-secondary center">
          <tr><th colspan="2">お客様情報 <%= link_to "編集はこちら",edit_user_registration_path, class: "btn btn-sm btn-outline-dark"  %></th></tr>
        </thead>
        <tbody class="table table-striped">
          <tr><td>お名前</td><td><%= current_user.name %></td></tr>
          <tr><td>ふりがな</td><td><%= current_user.kana %></td></tr>
          <tr><td>メール</td><td><%= current_user.email %></td></tr>
          <tr><td>電話番号</td><td><%= current_user.phone %></td></tr>
          <tr><td>郵便番号</td><td><%= current_user.postal_code %></td></tr>
          <tr><td>都道府県</td><td><%= current_user.prefecture_code %></td></tr>
          <tr><td>市区町村</td><td><%= current_user.city %></td></tr>
          <tr><td>丁目/番地</td><td><%= current_user.street %></td></tr>
          <tr><td>建物名</td><td><%= current_user.other_address %></td></tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
