<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to 'スタッフページ', staffs_account_path, class: "link-gray" %>
  ＞ お客様一覧
</p>


<div class="container">
  <div class="right">
    <%= link_to "お客様新規作成", users_admin_new_path, class: "link-black btn btn-sm btn-outline-dark" %>
  </div>
  <div class="center">
    <%= search_form_for @q, url: users_search_path do |f| %>
      <%= f.search_field :name_cont, class: "search-container" %>
      <%= f.submit 'お客様検索', class: "btn btn-sm btn-outline-dark" %>
    <% end %>
  </div>
  <p></p>
  <%= paginate @users %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>メール</th>
        <th></th>
      </tr>
    </thead>
  <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= link_to user.id, users_show_path(user), class: "link-black" %></td>
        <td><%= link_to user.name, users_show_path(user), class: "link-black" %></td>
        <td><%= link_to user.email, users_show_path(user), class: "link-black" %></td>
        <td>
          <%= link_to '編集', users_admin_edit_path(user), class: "btn btn-sm btn-outline-dark" %>
          <%= link_to '削除', users_admin_destroy_path(user), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
  <%= paginate @users %>
</div>
