<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to 'スタッフページ', staffs_account_path, class: "link-gray" %>
  ＞ お客様一覧
</p>
<div class="container">
  <h1 class="center">お客様一覧</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>氏名</th>
          <th>メール</th>
          <th></th>
        </tr>
      </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to '編集', users_admin_edit_path(user), class: "btn btn-sm btn-outline-dark" %>
            <%= link_to '削除', users_admin_destroy_path(user), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-sm btn-outline-danger" %>
          </td>
        </tr>
      </tbody>
    <% end %>
    </table>
</div>
