<%= link_to 'ホーム', root_url, class: "link-gray" %>

<div class="right">
  <% if staff_signed_in? %>
    <p>スタッフ専用</p>
    <%= link_to "新規イベント登録", new_event_path, class: "btn btn-md btn-info"%>
  <% end %>
</div>

<%= paginate @events %>
  <div class="event-card-container">
    <% @events.each do |event| %>
        <div class="event-card-item">
          <% if event.image? %>
            <%= link_to image_tag(event.image.url, width: '100%', class: "image-border border-radius-top"), event_path(event) %>
          <% else %>
            <%= link_to image_tag("/no_image2.png", width: '100%', class: "image-border border-radius-top"), event_path(event) %>
          <% end %>
          <p class="event-card-title">
            <%= link_to event.title, event_path(event), class: "link-black" %><br>
            <br>
            <% if staff_signed_in? %>
              スタッフ専用
              <%= link_to '編集', edit_event_path(event), class: 'btn btn-sm btn-primary' %>
              <%= link_to '削除', event_path(event), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </p>
        </div>
    <% end %>
  </div>
  <%= paginate @events %>
