<%= link_to 'ホーム', root_url, class: "link-gray" %>

<div class="right">
    <%= link_to "新規イベント登録", new_event_path, class: "btn btn-md btn-info"%>
  </div>
<p></p>

<div class="container">
  <table class="table">
  <thead>
    <tr class="center">
      <th colspan="2"></th>
      <th colspan="2">従業員欄</th>
    </tr>
  </thead>
  <% @events.each do |event| %>
  <tbody>
  <tr>
    <td>
      <% if event.image? %>
        <%= link_to image_tag(event.image.url, width: 200, class: "image-border"), event_path(event) %>
      <% else %>
        <%= link_to image_tag("/no_image2.png", width: 200, class: "image-border"), event_path(event) %>
      <% end %>
    </td>
    <td><%= link_to event.title, event_path(event), class: "link-black" %></td>
    
    <td class="center"><%= link_to '編集', edit_event_path(event), class: 'btn btn-sm btn-primary' %></td>
    <td class="center"><%= link_to '削除', event_path(event), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-sm btn-danger" %></td>
  </tr>
  </tbody>
  <% end %>
  </table>
</div>
