<% now = Time.zone.now %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">予約画面</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <%= form_with(model: @reservation, url: reservation_management_create_reservations_path, method: :post) do |f| %>
          <div id="error"></div>

          <%= f.label :start_time, class: "col-form-label" %>
          <%= f.datetime_field :start_time, value: Time.current.strftime('%Y-%m-%dT10:00:00'), class: "form-control" %>

          <%= f.label :course, class: "col-form-label" %>
          <%= f.select :course, options_from_collection_for_select(@menus, :id, :title), :include_blank => true, class: "form-select-area" %>

          <%= f.label :comment, class: "col-form-label" %>
          <%= f.text_area :comment, class: "form-control" %>

          <%= f.label :staff_id, class: "col-form-label" %>
          <%= f.select :staff_id, options_from_collection_for_select(@staffs, :id, :name, selected = @reservation.staff_id), :include_blank => true, class: "form-select-area" %>

          <%= f.label :guest_id, class: "col-form-label" %>
          <%= f.select :guest_id, options_from_collection_for_select(@users, :id, :name), :include_blank => true, class: "form-select-area" %>

          <div class="center mt-3">
            <%= f.submit "予約作成", class: "btn btn-primary" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              キャンセル
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
