<% now = Time.zone.now %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">予約画面</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <%= form_with(model: @reservation, url: reservations_path, method: :post) do |f| %>
          <div id="error"></div>

          <h5>予約日</h5>
          <!-- 初期値は当日の現在時刻から２時間後 -->
          <!-- 時間の選択は10分単位 -->
          <%= f.datetime_select :start_time,
                                {
                                use_month_numbers: true,
                                datetime_separator: '<h5 class="my-2">施術開始時間</h5>',
                                minute_step: 10,
                                default: @two_hours_later,
                                start_year: now.year,
                                end_year: now.next_year.year
                                },
                                class: "form-control datetime-select-form" %>

          <div>
            <%= f.label :course, class: "col-form-label" %>
            <%= f.select :course, options_from_collection_for_select(@menus, :id, :full_title), :include_blank => true, class: "form-select-area" %>
          </div>

          <%= f.label :comment, class: "col-form-label" %>
          <%= f.text_area :comment, class: "form-control" %>

          <%= f.hidden_field :guest_id, :value => current_user.id %>
          <%= f.hidden_field :staff_id, :value => "1" %>
          <%= f.hidden_field :reservation_time, :value => now %>

          <div class="center mt-3">
            <%= f.submit "申込み", class: "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              キャンセル
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
