<%= link_to '申請予約承認画面へ　→', confirm_reservation_reservations_path, 'data-turbolinks': false, class: 'btn btn-info mb-4' %><br>
<%= link_to '予約管理画面へ　→', reservation_management_reservations_path, class: 'btn btn-info mb-4' %>
<% now = Time.zone.now %>
<h1>予約内容編集画面</h1>
<div class="jumbotron">
  <div class="container-login">
    <div class="col-md-12">
      <%= form_with(model: @reservation, url: update_reserve_reservation_path(@reservation), local: true, method: :post) do |f| %>
        <div id="error"></div>
        <h5><%= @reservation.guest.name %>様</h5>
        <p></p>

        <%= f.label :start_time, class: "col-form-label" %>
        <%= f.datetime_field :start_time, class: "form-control" %>

        <%= f.label :course, class: "col-form-label" %>
        <%= f.select :course, options_from_collection_for_select(@menus, :id, :title, selected = @reservation.course), :include_blank => true, class: "form-select-area" %>

        <%= f.label :staff_id, class: "col-form-label" %>
        <%= f.select :staff_id, options_from_collection_for_select(@staffs, :id, :name, selected = @reservation.staff_id), :include_blank => true, class: "form-select-area" %>

        <%= f.label :comment, class: "col-form-label" %>
        <%= f.text_area :comment, class: "form-control" %>

        <%= f.label :status, class: "col-form-label" %>
        <%= f.select :status, Reservation.statuses.keys.map {|k| [I18n.t("enums.reservation.status.#{k}"), k]}, class: "form-select-area" %>

        <div class="text-center my-4">キャンセル切替　：　チェックを入れるとキャンセルになります</div>
        <div class="text-center"><%= f.check_box :cancel_flag, { style: 'transform: scale(2);' } %></div>

        <%= f.hidden_field :guest_id, :value => @reservation.guest.id %>

        <div class="center mt-4">
          <%= f.submit "変更", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
