<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  予約管理
  　　　<%= link_to '申請予約承認画面へ　→', confirm_reservation_reservations_path, 'data-turbolinks': false, class: 'btn btn-info' %>　
  　　　<%= link_to "新規予約作成", management_new_reservations_path, remote: true, class: "btn btn-primary" %>
</p>
<div class="center my-3">
  <%= search_form_for @q, url: search_reservations_path do |f| %>
    <%= f.search_field :guest_name_cont, placeholder: "名前で検索", class: "search-container" %>
    <%= f.submit '予約検索', class: "btn btn-sm btn-outline-dark" %>
  <% end %>
</div>
<table class="table">
  <thead>
    <tr class="center">
      <th>
        <%= sort_link(@q, :id, "予約番号　↑↓") %>
      </th>
      <th>
        <%= sort_link(@q, :guest_id, "名前　↑↓") %>
      </th>
      <th>
        <%= sort_link(@q, :start_time, "予約日　↑↓") %>
      </th>
      <th></th>
      <th>
        <%= sort_link(@q, :treatment_menu, "コース名　↑↓") %>
      </th>
      <th>
        <div>
          <%= sort_link(@q, :status, "予約状態　↑↓") %>
        </div>
        <div>
          <%= sort_link(@q, :cancel_flag, "キャンセル　↑↓") %>
        </div>
      </th>
      <th>
        <div>
          <%= sort_link(@q, :staff_id, "スタッフ　↑↓") %>
        </div>
      </th>
      <th></th>
    </tr>
  </thead>
  <thead class="table-secondary">
    <tr>
      <th scope="col">予約番号</th>
      <th scope="col">名前</th>
      <th scope="col">予約日</th>
      <th scope="col">予約時間</th>
      <th scope="col">コース名</th>
      <th scope="col">予約状態</th>
      <th scope="col">スタッフ</th>
      <th scope="col">編集/削除</th>
    </tr>
  </thead>
  <tbody>
    <% if @search_reservations.present? %>
      <% @search_reservations.order(start_time: :desc).each do |reservation| %>
        <tr>
          <th scope="row"><%= reservation.id %></th>
          <td><%= reservation.guest.name %>様</td>
          <td><%= l reservation.start_time, format: :dayonly %></td>
          <td><%= l reservation.start_time, format: :timeonly %> - <%= l reservation.end_time, format: :timeonly if reservation.end_time.present? %></td>
          <td><%= reservation.treatment_menu %></td>
          <% if reservation.cancel_flag == 1 %>
            <td style="color:red">キャンセル</td>
        <% else %>
          <td><%= reservation.status_i18n %></td>
        <% end %>
        <td><%= Staff.find(reservation.staff_id).name if reservation.staff_id.present? %></td>
        <td>
          <%= link_to '編集', edit_reserve_reservation_path(reservation), class: 'btn btn-sm btn-primary' %>
          <% if reservation.cancel_flag == 0 %>
            <%= link_to 'キャンセル', reservation_path(reservation), method: :delete,
                data: { confirm: "#{reservation.guest.name}様の#{reservation.treatment_menu}をキャンセルしてもよろしいでしょうか?" },
                class: "btn btn-sm btn-danger"
            %>
          <% end %>
        </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <th scope="row">#</th>
        <td colspan="5">予約情報はありません。</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="management_new_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
