<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
  <%= link_to '商品一覧', items_path, class: "link-gray" %> ＞ 
  <%= link_to '戻る', :back, class: "link-gray" %>
</p>
<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
  <%= link_to 'イベント一覧', events_path, class: "link-gray" %> ＞ 
  <%= link_to '戻る', :back, class: "link-gray" %>
</p>

<div class="container">
  <div class="cart-content-wrapper">
    <div class="cart-content-left">
      <h1>ショッピングカート 【 <%= current_user.name %> 様 】</h1>
      <% if !@orders.present? && !@event_orders.present? %>
        <table class="table cart-table-left">
          <tr>
            <td>
              <p>カートは空です。</p>
            </td>
          </tr>
        </table>
      <% else %>
        <table class="table cart-table-left">
          <% @orders.each do |order| %>
          <tr>
            <td rowspan="3">
              <% item = Item.find(order.item_id) %>
              <% if item.image? %>
                <%= link_to image_tag(item.image.url, width: 200, class: "image-border"), item_path(item) %>
              <% else %>
                <%= link_to image_tag("/no_image2.png", width: 200, class: "image-border"), item_path(item) %>
              <% end %>
            </td>
            <td colspan="3"><%= link_to item.name, item_path(item), class: "link-black" %></td>
          </tr>
          <tr>
            <td colspan="3"><%= item.price %> 円 (税別)</td>
          </tr>
          <tr>
            <td>数量: <%= order.quantity %></td>
            <td><%= order.quantity*item.price %> 円(税別)</td>
            <td>
              <%= link_to "削除", destroy_item_order_path(order), method: :delete, class: "btn btn-sm btn-secondary" %>
            </td>
          </tr>
          <% end %>
        </table>

        <table class="table cart-table-left">
          <% @event_orders.each do |event_order| %>
          <tr>
            <td rowspan="3">
              <% event = Event.find(event_order.event_id) %>
              <% if event.image? %>
                <%= link_to image_tag(event.image.url, width: 200, class: "image-border"), event_path(event) %>
              <% else %>
                <%= link_to image_tag("/no_image2.png", width: 200, class: "image-border"), event_path(event) %>
              <% end %>
            </td>
            <td colspan="3"><%= link_to event.title, event_path(event), class: "link-black" %></td>
          </tr>
          <tr>
            <td colspan="3"><%= event.price %> 円 (税別)</td>
          </tr>
          <tr>
            <td>数量: <%= event_order.quantity %></td>
            <td><%= event_order.quantity*event.price %> 円(税別)</td>
            <td>
              <%= link_to "削除", destroy_event_order_path(event_order), method: :delete, class: "btn btn-sm btn-outline-dark" %>
            </td>
          </tr>
          <% end %>
        </table>

      <% end %>
    </div>
    <div class="cart-content-right">
      <table class="table cart-table-right">
        <tr><td>小計</td><td class="right"> <%= @subtotal %> 円</td></tr>
        <tr><td>送料</td><td class="right"><%= @shipping_fee %> 円</td></tr>
        <tr><td>消費税 (10%)</td><td class="right"> <%= @tax %> 円</td></tr>
        <tr><td>合計</td><td class="right"> <%= @total %> 円 (税込)</td></tr>
        <tr>
          <td colspan="2" class="center">
            <% if @total == 0 %>
              <button class="btn btn-sm btn-secondary">カートは空です</button>
            <% else %>
              <%= form_with model: @payment, url: pay_path(@payment), method: :post do |f| %>
                <script
                  type="text/javascript"
                  src="https://checkout.pay.jp/"
                  class="payjp-button"
                  data-key="<%= ENV["PAYJP_TEST_PUBLIC_KEY"] %>"
                  data-name-placeholder="SHOHEI OHTANI"
                  data-submit-text="カードで支払う"
                  >
                </script>
              <% end %>
          <% end %>
          </td>
        </tr>
      </table>
      <p class="center">お買い上げ 5000円 以上で送料無料</p>
      <p class="center"><%= image_tag('/credit_logos.png', width: 200) %></p>
      <p class="center">Powered by <%= link_to image_tag('/PAY.JP_logo1.png', width: 100), "https://pay.jp/", target: :_blank, rel: "noopener noreferrer" %></p>
    </div>
  </div>
</div>
