<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to 'スタッフページ', staffs_account_path, class: "link-gray" %> ＞
  <%= link_to 'ご注文一覧/発送状況', purchase_records_path, class: "link-gray" %> ＞
  ご注文/発送状況詳細
</p>
<p></p>

<div class="container">
  <table class="table purchase-record-table">
    <tr>
      <td>注文日: <%= l @payment.created_at, format: :custom1 %></td>
      <td>注文番号: <%= @payment.id %></td>
      <% if @payment.all_shipped_at.present?  %>
        <td>発送状況: 全て発送済み</td>
      <% else %>
        <td>発送状況: <span>未発送あり</span></td>
      <% end %>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th>お届け先</th>
      <th>支払い方法</th>
      <th colspan="2">領収書/購入明細書</th>
    </tr>
    <tr>
      <td>
        <%= link_to @user.name, users_show_path(@user), class: "link-black" %> 様<br>
        <%= @user.prefecture_code %>
        <%= @user.city %>
        <%= @user.street %>
        <%= @user.other_address %>
      </td>
      <td>クレジットカード決済(PAY.JP)</td>
      <td>
        商品の小計:<br>
        送料:<br>
        消費税:<br>
        ご請求額(合計):<br>
      </td>
      <td class="right">
        <%= @payment.subtotal %> 円<br>
        <%= @payment.shipping_fee %> 円<br>
        <%= @payment.tax %> 円<br>
        <%= @payment.total %> 円<br>
      </td>
    </tr>
  </table>
  <table class="table purchase-record-table">
    <% @orders.each do |order| %>
      <tr>
        <td rowspan="2">
          <% item = Item.find(order.item_id) %>
          <% if item.image? %>
            <%= link_to image_tag(item.image.url, width: 100, class: "image-border"), item_path(item) %>
          <% else %>
            <%= link_to image_tag("/no_image2.png", width: 100, class: "image-border"), item_path(item) %>
          <% end %>
        </td>
        <td colspan="3"><%= link_to item.name, item_path(item), class: "link-black" %></td>
        <% if order.shipped_at.present? %>
          <td>発送状況: 発送済み</td>
        <% else %>
          <td>発送状況: <span>未発送</span></td>
        <% end %>
      </tr>
      <tr>
        <td><%= item.price %> 円(税抜)</td>
        <td>数量: <%= order.quantity %></td>
        <td><%= item.price*order.quantity %> 円(税抜)</td>
        <td>
          <%= form_with model: @order, url: ship_item_order_path(order), local: true do |f| %>
            <%= f.submit "発送完了", class: "btn btn-sm btn-outline-dark" %>
          <% end %>
          <%= form_with model: @order, url: cancel_ship_item_order_path(order), local: true do |f| %>
            <%= f.submit "未発送", class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <% @event_orders.each do |event_order| %>
      <tr>
        <td rowspan="2">
          <% event = Event.find(event_order.event_id) %>
          <% if event.image? %>
            <%= link_to image_tag(event.image.url, width: 100, class: "image-border"), event_path(event) %>
          <% else %>
            <%= link_to image_tag("/no_image2.png", width: 100, class: "image-border"), event_path(event) %>
          <% end %>
        </td>
        <td colspan="3"><%= link_to event.title, event_path(event), class: "link-black" %></td>
        <% if event_order.shipped_at.present? %>
          <td>発送状況: 発送済み</td>
        <% else %>
          <td>発送状況: <span>未発送</span></td>
        <% end %>
      </tr>
      <tr>
        <td><%= event.price %> 円(税抜)</td>
        <td>数量: <%= event_order.quantity %></td>
        <td><%= event.price*event_order.quantity %> 円(税抜)</td>
        <td>
          <%= form_with model: @event_order, url: ship_event_order_path(event_order), local: true do |f| %>
            <%= f.submit "発送完了", class: "btn btn-sm btn-outline-dark" %>
          <% end %>
          <%= form_with model: @event_order, url: cancel_ship_event_order_path(event_order), local: true do |f| %>
            <%= f.submit "未発送", class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </table>
</div>