<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
  <%= link_to '商品一覧', items_path, class: "link-gray" %> ＞ 
  <%= link_to '戻る', :back, class: "link-gray" %>
</p>
<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
  <%= link_to 'イベント一覧', events_path, class: "link-gray" %> ＞ 
  <%= link_to '戻る', :back, class: "link-gray" %>
</p>
<p></p>

<div class="container">
  <h1>注文内容 【 <%= current_user.name %> 様 】</h1>
  <table class="table">
    <tr>
      <td>注文日: <%= l @payment.created_at, format: :custom1 %></td>
      <td>注文番号: <%= @payment.id %></td>
      <% if @payment.all_shipped_at.present?  %>
        <td>発送状況: 全て発送済み</td>
      <% else %>
        <td>発送状況: <span>発送準備中あり</span></td>
      <% end %>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th>お届け先</th>
      <th>支払い方法</th>
      <th colspan="2">領収書/購入明細書</th>
    </tr>
    <tr>
      <td>
        <%= current_user.name %> 様<br>
        <%= current_user.postal_code %><br>
        <%= current_user.prefecture_code %>
        <%= current_user.city %>
        <%= current_user.street %><br>
        <%= current_user.other_address %><br>
        <%= current_user.phone %>
      </td>
      <td>クレジットカード決済(PAY.JP)</td>
      <td>
        商品の小計:<br>
        送料:<br>
        消費税:<br>
        ご請求額(合計):<br>
      </td>
      <td class="right">
        <%= @payment.subtotal %> 円<br>
        <%= @payment.shipping_fee %> 円<br>
        <%= @payment.tax %> 円<br>
        <%= @payment.total %> 円<br>
      </td>
    </tr>
  </table>
  <table class="table">
    <% @orders.each do |order| %>
      <tr>
        <td rowspan="2">
          <% item = Item.find(order.item_id) %>
          <% if item.image? %>
            <%= link_to image_tag(item.image.url, width: 100, class: "image-border"), item_path(item) %>
          <% else %>
            <%= link_to image_tag("/no_image2.png", width: 100, class: "image-border"), item_path(item) %>
          <% end %>
        </td>
        <td colspan="2"><%= link_to item.name, item_path(item), class: "link-black" %></td>
        <% if order.shipped_at.present? %>
          <td>発送状況: 発送済み</td>
        <% else %>
          <td>発送状況: <span>発送準備中</span></td>
        <% end %>
      </tr>
      <tr>
        <td><%= item.price %> 円(税抜)</td>
        <td>数量: <%= order.quantity %></td>
        <td><%= item.price*order.quantity %> 円(税抜)</td>
      </tr>
    <% end %>

    <% @event_orders.each do |event_order| %>
      <tr>
        <td rowspan="2">
          <% event = Event.find(event_order.event_id) %>
          <% if event.image? %>
            <%= link_to image_tag(event.image.url, width: 100, class: "image-border"), event_path(event) %>
          <% else %>
            <%= link_to image_tag("/no_image2.png", width: 100, class: "image-border"), event_path(event) %>
          <% end %>
        </td>
        <td colspan="2"><%= link_to event.title, event_path(event), class: "link-black" %></td>
        <% if event_order.shipped_at.present? %>
          <td>発送状況: 発送済み</td>
        <% else %>
          <td>発送状況: <span>発送準備中</span></td>
        <% end %>
      </tr>
      <tr>
        <td><%= event.price %> 円(税抜)</td>
        <td>数量: <%= event_order.quantity %></td>
        <td><%= event.price*event_order.quantity %> 円(税抜)</td>
      </tr>
    <% end %>

  </table>
</div>
