<%= link_to 'ホーム', root_url, class: "link-gray" %>
＞
<%= link_to '商品一覧', items_path, class: "link-gray" %>

<div class="container">
  <div class="center">
    <%= search_form_for @q, url: search_items_path do |f| %>
      <%= f.search_field :name_cont, class: "search-container" %>
      <%= f.submit '商品検索', class: "btn btn-sm btn-outline-dark" %>
    <% end %>
  </div>
  <div class="right">
    <%= link_to "新規商品登録", new_item_path, class: "btn btn-sm btn-outline-dark" %>
  </div>
  <p></p>
  
  
  <table class="table">
    <thead>
      <tr class="center">
        <th></th>
        <th><%= sort_link(@q, :name, "↑↓") %></th>
        <th><%= sort_link(@q, :price, "↑↓") %></th>
        <th><%= sort_link(@q, :stock, "↑↓") %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @results.each do |item| %>
    <tbody>
      <tr>
        <td><%= link_to image_tag(item.image.url, width: 200, class: "image-border"), item_path(item) if item.image? %></td>
        <td><%= link_to item.name, item_path(item), class: "link-black" %></td>
        <td><%= item.price %> 円(税込)</td>
        <td>在庫数: <%= item.stock %></td>
        <td>
          <%= link_to '編集', edit_item_path(item), class: 'btn btn-sm btn-outline-dark' %><br>
          <br>
          <%= link_to '削除', item_path(item), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
