<%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
<%= link_to '商品一覧', items_path, class: "link-gray" %> ＞ 
<%= @item.name %>
<p></p>
<div class="container">
  <table class="table">
    <tr>
      <td rowspan="4" class="center">
        <% if @item.image? %>
          <%= image_tag(@item.image.url, width: 500, class: "image-border") %>
        <% else %>
          <%= image_tag("/no_image2.png", width: 500, class: "image-border") %>
        <% end %>
      </td>
      <td colspan="2" class="center">
        <% if @item.stock == 0 %>
          <%= link_to "在庫がありません", '#', class: "btn btn-sm btn-outline-dark" %>
        <% elsif (@item.stock <= 5) && !user_signed_in? %>
          <span class="font-red">在庫残りわずか</span><br>
          <%= link_to "ログインしてカートに入れる", new_user_session_path, class: "btn btn-sm btn-outline-dark" %>
        <% elsif (@item.stock > 0) && !user_signed_in? %>
          <%= link_to "ログインしてカートに入れる", new_user_session_path, class: "btn btn-sm btn-outline-dark" %>
        <% elsif (@item.stock > 0) && user_signed_in? %>
          <% if @item.stock <= 5 %>
            <span class="font-red">在庫残りわずか</span><br>
          <% end %>
          <%= form_with model: @order, url: create_item_order_path(@order), method: :post do |f| %>
            <%= f.label "数量:" %>
            <% max = 10 %>
            <% max = @item.stock if (@item.stock < 10) %>
            <% range = (1..max) %>
            <%= f.select :quantity, range %><br>
            <%= f.fields_for @item do |i| %>
              <%= i.hidden_field :item_id, value: @item.id %>
            <% end %>
            <%= f.submit "カートに入れる", class: "btn btn-sm btn-warning" %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="item-show-name"><%= @item.name %></td>
    </tr>
    <tr>
      <td class="center item-show-price"><%= @item.price %> 円 (税別)</td>
      <td class="center">在庫数: <%= @item.stock %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @item.description %></td>
    </tr>
  </table>
</div>
