<footer id="footer">
  <div id="page-top"><a href="#">Page Top</a></div>
  <div class="copy-rights">Genkinomoto Body Care Lab., All Rights Reserved</div>

  <div class="staff-btn">
    <div class="btn-group staff-button">
      <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if staff_signed_in? %>
          ● <%= current_staff.name %> さん
        <% else %>
          ○ スタッフ専用
        <% end %>
      </button>
      <div class="dropdown-menu">
        <% if staff_signed_in? %>
          <%= link_to 'スタッフ専用ページ', staffs_account_path, class: 'dropdown-item link-black' %>
          <%= link_to '申請予約承認', confirm_reservation_reservations_path, 'data-turbolinks': false, class: 'dropdown-item link-black' %>
          <%= link_to '予約管理', reservation_management_reservations_path, 'data-turbolinks': false, class: 'dropdown-item link-black' %>
          <%= link_to '施術メニュー管理', menus_path, class: 'dropdown-item link-black' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'ログアウト', destroy_staff_session_path, method: :delete, class: 'dropdown-item link-black' %>
        <% else %>
          <%= link_to 'ログイン', new_staff_session_path, class: 'dropdown-item link-black' %>
        <% end %>
      </div>
      </div>
    <% if staff_signed_in? %>
      <div><%= link_to 'スタッフ専用ページ', staffs_account_path, class: "btn btn-sm btn-outline-dark" %></div>
    <% end %>
  </div>

</footer>
