<header class='header'>

  <div class='row'>
    <%= link_to image_tag("logo1.jpg"), root_path, id: 'logo' %>
    <%#= link_to 'ゲンキノモト。', root_path, class: 'link-black ', id: 'logo' %>
    <div class='header-list'>
      <ul class="header-list-items nav">
        <% if user_signed_in? %>
          <li><%= link_to '(user)マイページ', users_index_path, class: 'link-black nav' %></li>
          <li><%= link_to '(user)ログアウト', destroy_user_session_path, method: :delete, class: 'link-black nav' %></li>
          <li class="link-red">[ <%= current_user.name %> さんがログイン中 ]</li>
        <% end %>
        <% if !user_signed_in? %>
          <li><%= link_to '(user)ユーザーログイン', new_user_session_path, class: 'link-black nav' %></li>
        <% end %>
      </ul><br>
      <ul class="nav header-list-items">
        <% if staff_signed_in? %>
          <li><%= link_to '(staff)スタッフページ', staffs_path, class: 'link-black nav' %></li>
          <li><%= link_to '(staff)ログアウト', destroy_staff_session_path, method: :delete, class: 'link-black nav' %></li>
          <li class="link-red">[ スタッフ <%= current_staff.name %> さんがログイン中 ]</li>
        <% end %>
        <% if !staff_signed_in? %>
          <li><%= link_to '(staff)スタッフログイン', new_staff_session_path, class: 'link-black nav' %></li>
        <% end %>
      </ul><br>
      <ul class="nav header-list-items nav">
        <li><%= link_to '商品ページ', items_path, class: 'link-black nav' %></li>
        <li><%= link_to 'イベントページ', events_path, class: 'link-black nav' %></li>
      </ul>
    </div>

    <div class="header-cart">
      <% if !user_signed_in? %>
        <%= link_to image_tag('/payment_history.png', width: 30), new_user_session_path %>
        <%= link_to '購入履歴', new_user_session_path, class: "btn btn-md btn-secondary" %>
        <%= link_to image_tag('/cart_empty.png', width: 30), new_user_session_path %>
        <%= link_to 'カート', new_user_session_path, class: "btn btn-md btn-warning" %>
      <% else %>
        <%= link_to image_tag('/payment_history.png', width: 30), payments_path(current_user) %>
        <%= link_to '購入履歴', payments_path(current_user), class: "btn btn-md btn-secondary" %>
        <% unpaid_orders = current_user.cart.orders.where(paid_at: nil) %>
        <% unpaid_event_orders = current_user.cart.event_orders.where(paid_at: nil) %>
        <% if unpaid_orders.present? || unpaid_event_orders.present? %>
          <%= link_to image_tag('/cart_items.png', width: 30), carts_path(current_user) %>
        <% else %>
          <%= link_to image_tag('/cart_empty.png', width: 30), carts_path(current_user) %>
        <% end %>
        <%= link_to 'カート', carts_path(current_user), class: "btn btn-md btn-warning" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <ul class="top-menu">
      <li><%= link_to '店舗のご案内', "#", class: "link-black" %></li>
      <li><%= link_to 'メニューと料金', menus_path, class: "link-black" %></li>
      <li><%= link_to '初めての方', "#", class: "link-black" %></li>
      <li><%= link_to 'FAQ', "#", class: "link-black" %></li>
    </ul>
  </div>
</header>
